.slide-bg1 {
    background:url(../images/main_slide/home_banner1.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.slide-bg2 {
    background:url(../images/main_slide/home_banner2.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.slide-bg3 {
    background:url(../images/main_slide/home_banner3.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}
.slide-bg4 {
    background:url(../images/main_slide/home_banner4.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}